body {
	width:1200px;
	margin: 0 auto;
	background: url(http://subtlepatterns.com/patterns/mochaGrunge.png);
}

#logo {
	float: left;
	width: 700px;
	height: 150px;
	margin-top: 70px;
	margin-left: 2%;
	margin-bottom: 60px;
}

#logo img {
	max-width: 78%;
}

