body {
	width:100%;
	height:100%;
	margin: 0 auto;
	background: url(http://subtlepatterns.com/patterns/dark_fish_skin.png);
}

#logo {
	float: left;
	text-align: center;
	width: 17%;
	margin: 0.3% 0 0 0.3%;
	padding: 0;
}

#logo img {
	max-width: 78%;
}

textarea {
	resize: none;
}

.mainnav {
	width: 65%;
	margin: 0 auto;
}

.mainwindow {
	width: 298px;
	float: right;
}
